<!-- templates/register_consultant.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Register Consultants</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <style>
    body {
        all: unset;
    }
    </style>
</head>
<body>

    {% include 'includes/navbar.html' %}
    <div style=" display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 50px); ">
        <div class="login-container">
            <h1>Create Consultant</h1>

            {% include 'includes/flash_messages.html' %}

            <form method="POST" action="{{ url_for('register_consultant.register_consultant') }}">
                <label for="username">Username</label>
                <input class="text-input" type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input class="text-input" type="password" id="password" name="password" required>

                <button style="margin: 10px 80px;" class="action-button" type="submit">Create account</button>
            </form>
        </div>
    </div>
</body>
</html>
